
@font-face {
    font-family: Walkway;
    src: url("../fonts/Walkway%20Black.ttf");
}

@font-face {
    font-family: Stroke;
    src: url("../fonts/stroke.ttf"); 
}

html, body {
   width: 100%;
   padding: 0;
   margin: 0;
}

header {
    color: white;
    background-color: black;
    width: 100%;
    height: 35px;
    position: fixed;
    top: 0px;
    padding-top: 17px;
    font-family: Stroke;
}

header #signIn {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

header #register {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

#signIn:hover {
    color: orange;
}

#register:hover {
    color: orange;
}

#home {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
}

h1 {
    font-family: Walkway, serif;
    font-size: 12em;
    text-align: center;
    color: dark;
}
