@font-face {
    font-family: Walkway;
    src: font-url("Walkway%20Black.ttf");
}

@font-face {
    font-family: Walkway-Light;
    src: font-url("Walkway%20Condensed%20SemiBold.ttf");
}

@font-face {
    font-family: Walkway-Expand;
    src: font-url("Walkway%20Expand%20SemiBold.ttf");
}

@font-face {
    font-family: Stroke;
    src: font-url("stroke.ttf");
}
