<!DOCTYPE html>
<html lang="fr">

<head>

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}generated/css/style.css" />

</head>

<body>
    <header> 
        {% block header %}
        {% block logo %}
        <div id="logo"> 
            <a href="{% url "apps.gallery.views.home" %}">WIS</a>
        </div>
        {% endblock %}

        {% if user.is_authenticated %}
            <div id="signOut">
                <a href=" {% url "apps.gallery.views.sign_out" %}">Se déconnecter</a>
            </div>

            <div id="userId"> 
                {{ user.username }}
            </div>
        {% else %}
            <div id="register"> 
                S'inscrire
            </div>

            <div id="signIn">
                Se connecter
            </div>

            {% block authForm %}
                <form id="login" class="inline" method="POST" action="{% url "apps.gallery.views.auth" %}">
                    {% csrf_token %}
                    {{ loginForm.as_p }}
                    <input type="submit" value="Valider" />
                </form>
            {% endblock %}

        {% endif %}
        {% endblock %}
    
    </header>
    
    {% block aside %}
    <aside>
            <h3 id="album">album</h3>
            <h2>{{ title }}</h2>

            <ul plain>
                <li plain>Place</li>
                <li>Date</li>
            </ul>
    </aside>
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

</body>

</html>
