<!DOCTYPE html>
<html lang="fr">

<head>

    <title> {% block title %} {{ title }} {% endblock %} </title>

    <link rel="stylesheet" href="{{  STATIC_URL }}css/style.css" />

</head>

<body>
    <header> 
        {% block header %}
        {% block logo %}
        <div id="logo"> 
            <a href="{% url "apps.gallery.views.home" %}"> WIS </a>
        </div>
        {% endblock %}

        <div id="register"> 
            S'inscrire
        </div>

        <div id="signIn">
            Se connecter
        </div>
        {% endblock %}
    </header>

    {% block aside %}
    <aside>
            <h3 id="album"> album </h3>
            <h2> {{ title }}. </h2>

            <ul plain>
                <li plain> Place </li>
                <li> Date </li>
            </ul>
    </aside>
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

</body>

</html>
