{% extends 'base.html' %}

{% block content %}
<section id="creationForm">
    <h2>Création d'une galerie</h2>
    <form class="formContainer" method="post" action="{% url "apps.gallery.views.create_gallery" %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldContainer">
                <div class="label">
                    {{ field.label }} 
                </div>
                <div class="field" id="{{ field.name }}Field">
                    {{ field }}
                    <div class="help-block">
                        {{ field.errors }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div id="submitButton"> 
            <input type="submit" value="Créer">
        </div>
    </form>
{% endblock %}
