{% extends "base.html" %}

{% block aside %}
<aside>
    <h3 id="album">album</h3>
    <h2>{{ gallery.title }}</h2>

    <ul id="galleryInfos">
        {% if gallery.place %}<li>{{ gallery.place }}</li>{% endif %}
        {% if gallery.created %}<li>{{ gallery.created }}</li>{% endif %}
        {% if images %}<li>{{ images|length }} photos</li>{% endif %}
        <li><a href="{% url "apps.gallery.views.upload" %}">Ajouter des images</a></li>
    </ul>
</aside>
{% endblock %}

{% block content %}
<section id="gallery">
    {% for photo in photos %}
        <a href="#" class="overlay">
            <span class="vignette-description">{{ photo.description }}</span>
            <span class="icon-resize-full icon-white vignette-expand"></span>
            <img class="vignette" src="{{ MEDIA_URL }}{{ photo.medium_path }}" />
        </a>
    {% endfor %}
</section>
{% endblock %}
