<!DOCTYPE html>

<head>

    <title> {{ title }} </title>

    <link rel="stylesheet" href="{{  STATIC_URL }}css/style.css" />

</head>

<body>
    <header> 

        <div id="logo"> 
            WIS
        </div>

        <div id="register"> 
            S'inscrire
        </div>

        <div id="signIn">
            Se connecter
        </div>

    </header>

    <aside>
            <h3 id="album"> album </h2>
            <h2> {{ title }}. </h2>
    </aside>

    <section id="gallery">
        {% for img_path in img %}
            <img class="vignette" src="{{ MEDIA_URL }}pic/base/{{ img_path }}" />
        {% endfor %}
    </section>

</body>
</html>
