{% extends "base.html" %}

{% block aside %}
<aside>
    <h3 id="album">album</h3>
    <h2>{{ gallery.title }}</h2>

    <ul id="galleryInfos">
        {% if gallery.place %}<li>{{ gallery.place }}</li>{% endif %}
        {% if gallery.created %}<li>{{ gallery.created }}</li>{% endif %}
        {% if images %}<li>{{ images|length }} photos</li>{% endif %}
    </ul>
</aside>
{% endblock %}

{% block content %}
<section id="gallery">
    {% for image in images %}
        <figure class="imageGallery">
            <img class="vignette" src="{{ MEDIA_URL }}{{ image.path }}" />
            <figcaption>{{ image.description }}</figcaption>
        </figure>
    {% endfor %}
</section>
{% endblock %}
