{% extends "base.html" %}

{% block topRight %}
{% endblock %}

{% block content %}

<form id="registerForm" method="post" action="{% url "apps.gallery.views.register" %}">
    {% csrf_token %}
    {% for field in form %}
            {{ field.errors }}
            {{ field.label }} 
        <div id="{{ field.name }}Field">
            {{ field }}
            {% if field.name == "username" %}
                <span id="loader"><img src="{{ STATIC_URL }}images/infinity-loader.gif" alt="Vérification ..." /></span>
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Create the account">
</form>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/user_check.js"></script>

{% endblock %}

